.cardContent {
  background-color: #d3e0ea;
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
  border-radius: 0.5rem;
}

.Card {
  border: none;
  flex-direction: column;
  box-shadow: 3;
  display: flex;
  height: 100%;
  
}

.selectedCard {
  border: 4px solid #674795;
  border-radius: 1rem;
  flex-direction: column;
  box-shadow: 3;
  display: flex;
  height: 100%;
  
}
