.Pagination {
  background-color: rgba(211, 224, 234, 0.8);
  border-radius: 1rem;
  width: fit-content;

  margin: auto;
  margin-top: 2rem;
  padding: 0.2rem 0rem 0.2rem 0rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.announcement {
  min-height: 100vh;
}
