.haveNFTImg{
  height: 10rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: 0.1rem;
  display: block;
  margin: auto;
}

.haveNotNFTImg{
  height: 10rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: 0.1rem;
  display: block;
  margin: auto;

    opacity: 0.5;
    border-color: red;
    border: 0.1rem;
}

.cardContent{
    background-color:#D3E0EA;
    display:flex;
    justify-content: center;
    margin-top: 0.3rem;
    border-radius: 0.5rem;
    flex: 1 1 auto; 
    box-shadow:1;
    height:1rem;
}

.cardContentNotNFT{
    background-color:#b0b0b0;
    opacity: 50%;
    display:flex;
    justify-content: center;
    margin-top: 0.3rem;
    border-radius: 0.5rem;
    flex: 1 1 auto; 
    box-shadow:1;
    height:1rem;
}