.App {
  text-align: center;
  background-color: #224154;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

article {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  overflow: hidden;
  min-height: 65rem;
  background: linear-gradient(to bottom, #224154, #705064);
}

article::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../../frontend/public/images/logo/background.png") no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
  background-color: transparent;
}

.mainArticleDiv {
  position: relative;
  z-index: 5;
}

.stars {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: url("../../frontend/public/images/logo/stars.png") repeat top
    center;
  z-index: 0;
}
