.outBox {
  margin-top: 3rem;
}

.tabs {
  background-color: #d3e0ea;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.tab {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
