.button {
    font-size: medium;
    background-color: rgb(43, 43, 68);
    color: #ffffff;
    border: none;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 30px;
    width: 150px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 15px;
  }

  .button:hover {
    background-color: rgb(194, 169, 242);
    color : rgb(60, 42, 52);
    transition: 1s;
    /* transform: scale(1.2); */
  }

  .input {
    border-radius: 8px;
    font-size: 15px;
  }